<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
        <meta name="description" content="{{.Description}}">
    </head>
    <body>
        <h1>Lade deinen Fisch hoch</h1>
        <form action="/aquarium/{{.ID}}/" method="POST" enctype="multipart/form-data">
            <input type="file" id="image" name="image" accept="image/*" required>
            <input type="text" id="name" name="name" placeholder="Name">
            <button type="submit">Bild hochladen</button>
        </form>
    </body>
</html>
